.shop-container {
    display: flex;
    width: 100%;
}

.product-list {
    flex: 0 0 70%;
    padding-right: 20px;
}

.cart-section {
    flex: 1;
    padding-left: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
}

.fixed-cart {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
}

.product.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-section h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding-left: 0;
}

#cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.discount-code form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.checkout {

    .cart-summary {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    .cart-summary th, .cart-summary td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    
    .cart-summary th {
        background-color: #f4f4f4;
    }
    
    .hint {
        margin-bottom: 20px;
    }
    
    .hint p {
        font-weight: bold;
    }
    
    .inputs {
        display: flex;
        align-items: center;
    }
    
    .inputs input {
        margin-right: 10px;
        padding: 5px;
        flex: 1;
    }
    
    .btn-primary {
        background-color: #0066cc;
        border: none;
        padding: 10px 20px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
    }
    
    .btn-primary:hover {
        background-color: #004999;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
    }
    
    .form-row .form-group {
        flex: 1;
        margin-right: 10px;
    }
    
    .form-row .form-group:last-child {
        margin-right: 0;
    }

    .form-group label {
        display: inline;
    }
    
    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}